body {
    text-align: center;
    background-color: black;
    color: white;
    font-family: sans-serif;
  }
  
  #timer {
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: silver;
    color: black;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
  }
  
  #startButton {
    left: 20%;
  }
  
  #stopButton {
    left: 50%;
  }
  
  #resetButton {
    left: 80%;
  }